{% extends "basic_layout.html" %}
{% block content %}
<div class="content-section">
    <p>Series by {{author}}:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Series Name</th>
                <th scope="col">Authors</th>
                <th scope="col">Owned</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for s in series %}
            <tr>
                <td><a href="/series/details/{{s.name}}/{{s.series_year}}">{{s.name}} ({{s.series_year}})</a></td>
                <td>{% for a in s.authors %}
                    <a href="/authors/details/{{a}}">{{a}}</a><br>
                    {% endfor %}
                </td>
                <td>
                    <a href="/volumes/{{s.name}}/{{s.series_year}}">{{s.volumes}}</a>
                </td>
                <td>
                    {% if s.rating > 0 %}
                        {{s.rating}}/10
                    {% endif %}
                </td>
                <td>
                    <form action="/series/details/{{s.name}}/{{s.series_year}}" method="post">
                        <input type="hidden" value="{{s.name}}" name="name">
                        <input type="hidden" value="{{s.series_year}}" name="series_year">
                        <input type="submit" value="...">
                    </form>
                    <form action="/series/disconnect/author" method="post">
                        <input type="hidden" value="{{s.name}}" name="series_name">
                        <input type="hidden" value="{{s.series_year}}" name="series_year">
                        <input type="hidden" value="{{author}}" name="author_name">
                        <input type="hidden" value="/authors/details/{{author}}" name="from">
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Add series to bibliography:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
            </tr>
        </thead>
        <tbody>
          <form action="/authors/connect" method="post">
            <tr>
                <td><input type="text" name="name" value="" class="wide"></td>
                <td><input type="text" name="series_year" value="" class="narrow"></td>
                <input type="hidden" name="author_name", value="{{author}}">
                <input type="hidden" value="/authors/details/{{author}}" name="from">
                <td><input type="submit" value="Add series"></td>
            </tr>
        </form>
        </tbody>
    </table>

    {% include "footer.html" %}
</div>
{% endblock content %}