{% extends "basic_layout.html" %}
{% block content %}
<div class="content-section">
    <p>Authors:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            {% for a in authors %}
            <tr>
                <td>{{a.name}}</td>
                <td>
                    <form action="/authors/details/{{a.name}}" method="post">
                        <input type="submit" value="...">
                    </form>
                    <form action="/authors/delete" method="post">
                        <input type="hidden" value="{{a.name}}" name="name">
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Add author:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
          <form action="/authors/add" method="post">
            <tr>
                <td><input type="text" name="name" value="" class="wide"></td>
                <td><input type="submit" value="Add author"></td>
            </tr>
        </form>
        </tbody>
    </table>


    <br><br><a href="/series">See series</a><br><a href="/">Back to splash page</a>
</div>
{% endblock content %}