{% extends "basic_layout.html" %}
{% block content %}
<div class="content-section">
    <p>Full Collection:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Series</th>
            <th scope="col">Entry</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>  
        {% for volume in volumes %}
        <tr>
            <td>{{volume.name}} ({{volume.series_year}})</td>
            <td>{{volume.entry}}</td>
            <td>{{volume.author}}</td>
            <td>
            <form action="/collection/delete" method="post">
                <input type="hidden" value="{{volume.id}}" name="volume_id">
                <input type="submit" value="X">
            </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <br><br><br>
    <p>Add volume:</p>
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Series Name</th>
            <th scope="col">Series Year</th>
            <th scope="col">Entry</th>
        </tr>
    </thead>
    <tbody>
    <form action="/collection/add" method="post">
        <tr>
            <td><input type="text" name="name" value="" class="wide"></td>
            <td><input type="text" name="series_year" value="" class="narrow"></td>
            <td><input type="number" name="entry" value="1" class="narrow"></td>
            <td><input type="submit" value="Add volume"></td>
        </tr>
    </form>
    </tbody>
    </table>

    <p>Add multiple:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Series Name</th>
                <th scope="col">Series Year</th>
                <th scope="col">First entry</th>
                <th scope="col">Latest entry</th>
            </tr>
        </thead>
        <tbody>
            <form action="/collection/add/multiple" method="post">
                <tr>
                    <td><input type="text" name="name" value="" class="wide"></td>
                    <td><input type="text" name="series_year" value="" class="narrow"></td>
                    <td><input type="number" name="start_entry" value="1" class="narrow"></td>
                    <td><input type="number" name="last_entry" value="1" class="narrow"></td>
                    <td><input type="submit" value="Add volumes"></td>
                </tr>
            </form>
        </tbody>
    </table>

    <br><br><a href="/series">Go to series</a><br><a href="/">Back to splash page</a>
</div>
{% endblock content %}