{% extends "basic_layout.html" %}
{% block content %}
<div class="content-section">
    <p>Publishers:</p>
    <table class="table table-striped">
        <tbody>
            {% for p in publishers %}
            <tr>
                <td>{{p}}</td>
                <td>
                    <form action="/series/publisher:{{p}}" method="post">
                        <input type="hidden" value="{{p}}" name="publisher">
                        <input type="submit" value="See series">
                    </form>
                    <form action="/publishers/delete" method="post">
                        <input type="hidden" value="{{p}}" name="publisher">
                        <input type="submit" value="X">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Add publisher:</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
          <form action="/publishers/add" method="post">
            <tr>
                <td><input type="text" name="publisher" value="" class="wide"></td>
                <td><input type="submit" value="Add genre"></td>
            </tr>
        </form>
        </tbody>
        </table>

    <br><br><a href="/series">See all series</a><br><a href="/">Back to splash page</a>
</div>
{% endblock content %}