{% extends "basic_layout.html" %}
{% block content %}
<div class="content-section">
    <p>Please select where to go:</p>
    <table class="table table-striped">
      <tbody>
        <td><input type="button" value="Full Collection" onclick="window.location.href='/volumes'"></td>
        <td><input type="button" value="Series" onclick="window.location.href='/series'"></td>
        <td><input type="button" value="Authors" onclick="window.location.href='/authors'"></td>
        <td><input type="button" value="Genres" onclick="window.location.href='/genres'"></td>
        <td><input type="button" value="Languages" onclick="window.location.href='/languages'"></td>
        <td><input type="button" value="Demographics" onclick="window.location.href='/demographics'"></td>
        <td><input type="button" value="Publishers" onclick="window.location.href='/publishers'"></td>
      </tbody>
    </table>
</div>
{% endblock content %}